Don't delete the dhcp6c_duid file when trying to signal the dhcp client that it should get a new ipv6 address

According to Section 9 from RFC 3315 "The DUID is designed to be unique across all DHCP clients and servers, and stable for any specific client or server - that is, the DUID used by a client or server SHOULD NOT change over time if at all possible; for example, a device's DUID should not change as a result of a change in the device's network hardware"

According to tour comment from September 26th : 

> To acquire an ipv6 address the app checks if the dhcp6c process is running, if that's the case it will use the "communicator binary" dhcp6ctl to signal the dhcp client that it should get a new ipv6 address.

> Although this does not always work, **therefore the app first deletes /data/misc/dhcp/dhcp6c_duid** in order for the dhcp client to get a new address.

Deleting dhcp6c_duid forces the dhcpv6 client to generate a new DUID.

Thank you for your Issue.

This behavior is now removed in version 1.5.4 (28) commit: 834581f1d5c3e3b8cb79c6213c67c6e5fc75aeee

Signed build is uploaded to google play.

Tested the new version, it's OK now. The DUID is the same even between reboots.

Thank you for testing and confirming!